@model string
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/DisplayCartStyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container" id="form">
        <p id="head"></p>
        <form id="formS" action="../Home/SearchBook" method="post">
            <p class="searchheading">
                <input type="text" placeholder="Search Title / Authour" class="search" name='SEARCH' id='SEARCH' required="required" /><span class="error"></span>
                <input type="submit" name="submitbuttom" id="submitbutton" class="register" value="Search" form="formS" />
                <label for="submitbutton">
                    <img src="~/Content/searchicon.png" class="searchicon" />
                </label>
            </p>
        </form>
    </div>
        <div>
            <h1>Illumination</h1>
            <img src="~/Content/logo.png" class="logo" />
            <div class="navbar">
                <a href="http://localhost:10587/Home/Home">Home</a>
                <a href="http://localhost:10587/Home/RequestaBook">Request A Book</a>
                <a href="http://localhost:10587/Home/DisplayCart">View Cart</a>
                <a href="http://localhost:10587/Home/FAQ">FAQ</a>
                <a href="http://localhost:10587/Home/Recommendations">Recommendations</a>
            </div>
            <hr style="color:brown" />
        </div>
        <div><h2>Your Cart Is Empty :(</h2></div>
        <img src="~/Content/img3.jpg" class="bottomblock" />
        <div class="contactus">
            About Us<br />
            <a href="http://localhost:10587/Home/Home"><p class="subs">Contact Us</p></a>
            <a href="http://localhost:10587/Home/TermsAndConditions"><p class="subs">Terms and Conditions</p></a>
        </div>
        <div class="connect">
            Connect<br /><br />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <a href="#" onclick="location.href='http://www.facebook.com'" class="fa fa-facebook"></a>
            <a href="#" onclick="location.href='http://www.twiiter.com'" class="fa fa-twitter"></a>
            <a href="#" onclick="location.href='http://www.instagram.com'" class="fa fa-instagram"></a>
        </div>
</body>
</html>
