	body
    {
        background-image: url("rbgimg.jpg");
        background-repeat: no-repeat;
        background-size: static;
    }

    h1
    {
		position: absolute;
        font-size: 1.8em;
        text-align: left;
        color: white;
        font-family:'Bookman Old Style';
		top: 10px;
		left: 5px;
    }

    h2
    {
        position: absolute;
        top: 275px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }

    h3
    {
        position: absolute;
        top: 320px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }
	
	h4
    {
        position: absolute;
        top: 365px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }
	
	h5
    {
        position: absolute;
        top: 410px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }

	h6
    {
        position: absolute;
        top: 455px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }
	
	h22
    {
        position: absolute;
        top: 200px;
        left: 320px;
        text-align: center;
        font-size: 2em;
        font-family: 'Baskerville Old Face';
		color: black
    }

	
	.bookimage
	{
		position: absolute;
		top: 270px;
		left: 50px;
		width: 200px;
		height: 120px;
	}
	
	.ratebook
	{
		position: absolute;
		top: 650px;
		left: 50px;
		font-size: 2em;
		font-family: 'Baskerville Old Face';
		color: black;
	}

	.bookimage img
	{
		width: 100%;
		height: auto;
	}
	
	.register
	{
		float: right;
		margin-right: 0px;
		margin-top: -30px;
		display: none;
	}
	
	.searchicon
	{
		float: right;
		margin-right: 0px;
		margin-top: -40px;
	}

	.bottomblock
    {
        position: absolute;
        bottom: -350px;
		left: 10px;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .contactus
    {
        position: absolute;
        bottom: -295px;
        left: 16px;
        font-size: 1.5em;
        font-family: 'Baskerville Old Face';
        color: darkblue;
    }
	
	.horizontalline
	{
		color: brown;
		margin-top: 5px;
	}

    .subs
    {
        font-size: 0.75em;
        font-family: 'Baskerville Old Face';
        color: black;
    }
	
	a
	{
		text-decoration: none;
	}

    .connect
    {
        position: absolute;
        bottom: -263px;
        left: 300px;
        font-size: 1.5em;
        font-family: 'Baskerville Old Face';
        color: darkblue;
    }

    .fa 
    {
        padding: 7px;
        font-size: 10px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

    .fa:hover 
    {
        opacity: 0.7;
    }

    .fa-facebook 
    {
        background: #3B5998;
        color: white;
    }

    .fa-twitter 
    {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram
    {
        background: #1a75ff;
        color: white;
    }

    .logo
    {
        position: relative;
        left: 205px;
        top: 12px;
    }
	
	.search
    {
        float: right;
        padding: 6px 25px;
        border: none;
        border-radius: 5px;
        border-color: aquamarine;
        text-align: left;
        margin-top: -40px;
        margin-right: 65px;
        font-size: 17px;
    }

    .searchheading
    {
		position: absolute;
		font-size: 1.5em;
		right: 60px;
		top: 40px;
		color: white;
    }
	
	.navbar
	{
		overflow: hidden;
		margin-top: 60px;
	}
	
	.navbar a
	{
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 1.25em;
		font-family: 'Baskerville Old Face';
	}
	
	.navbar a:hover
	{
		background-color: #ddd;
		color: black;
	}
	
	@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

	.rate 
	{
		display: inline-block;
		border: 0;
		height: 46px;
		padding: 0 10px;
		position: absolute;
		top: 655px;
		left: 240px;
	}

	.rate > input 
	{
		display: none;
	}
	
	.rate > label 
	{
		float: right;
	}

	.rate > label:before 
	{
		display: inline-block;
		font-size: 1.1rem;
		padding: .3rem .2rem;
		margin: 0;
		cursor: pointer;
		font-family: FontAwesome;
		content: "\f005 "; 
	}
	
	.rate .half:before 
	{
		content: "\f089 "; 
		position: absolute;
		padding-right: 0;
	}

	input:checked ~ label,
	label:hover, label:hover ~ label 
	{ 
		color: #73B100;  
	} 
	
	input:checked + label:hover, input:checked ~ label:hover, 
	input:checked ~ label:hover ~ label, 
	label:hover ~ input:checked ~ label 
	{
		color: #A6E72D;
	} 
	
	.cart 
	{
		max-width: 300px;
		margin: auto;
		text-align: center;
		font-family: arial;
		position: absolute;
		top: 695px;
		left: 50px;
	}

	.cart button 
	{
		border: none;
		outline: 0;
		padding: 12px;
		color: white;
		background-color: #000;
		text-align: center;
		cursor: pointer;
		width: 100%;
		font-size: 18px;
	}

	.cart button:hover 
	{
		opacity: 0.7;
	}